<div class="min"><%= post.created_at.strftime('%Y/%m/%d')%></div>
<div class="min"></div>
<div class="comment">【コメント】<%= post.comment %></div>
<% if current_user.id == post.user_id %>
  <%= link_to "削除", post_path(post),data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
<% end %>
<hr>

