@charset "utf-8";
.container{
    //min-height: 100hv;
    //width:1500px;
}

//play2用
.container-fluid { //ビンゴ対決でcontainerではbootstrapにより横幅が1140pxに制限されるため。
  /* 水平・垂直方向の中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  //margin-top: 100px; /* ヘッダーの高さ分のマージンを追加 */
  //margin-bottom: 200px; /* フッターの高さ分のマージンを追加 */
  min-height: calc(100vh - 180px);
  
}

//play1,2共通
.size{//ビンゴカード・ルーレットを含んだサイズ
    width:90%; //ここを指定しないとルーレットのストップスタートでカードの大きさが変化する。
    //width:1500px;
}

.center{//縦並びの水平・垂直中央ならべ
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*ビンゴカード*/
.card{//1枚目のカード
    background-color: orange;
    padding: 10px;
    width: 90%; //ルーレットの文字にカードが被らないように。
    //width:1000px;
    max-width:500px;
}
.card2{//2枚目のカード
    background-color: blue;
}
.outer{
    display:flex;
    flex-wrap: wrap;
}
.square{
    box-sizing: border-box;
    background-color: #ffffff;
    border:solid 1px black;
    flex: 0 0 20%;
    position: relative;
    //padding-top:30%;
}
.square div{
    position: absolute;//擬似要素の下に配置されるのため、squareの位置を基準にする。
    top: 0;
    left: 0;
    width: 100%; //擬似要素で作った正方形に大きさを合わせる。
    height: 100%;//擬似要素で作った正方形に大きさを合わせる。
    display:flex;//imgを中央に寄せるため設定
    justify-content: center;
    align-items: center;
}
.square img {
    /* 画像のスタイル */
    max-width: 80%; /* 画像の最大幅をマスの幅に合わせる */
    max-height: 80%; /* 画像の最大高さをマスの高さに合わせる */
    //display: block; /* インライン要素をブロック要素に変更 */
    //margin: auto; /* 画像を中央に配置 */
}

.square::before{//正方形を作成
    content: '';
    display: block;
    padding-top:100%;//縦横比。100%にすることで正方形になる。上の要素の横幅に対しての割合。50%にすると横長、150%にすると縦長の長方形になる。
}
.gray{
    background-color: #b9deff;
}
 h2{
    font-size:20px;
}


/*ルーレット*/
.ruret_text{
    width:250px;
    //height:100px;
}
.ruret_text h2{
    font-size: 25px;
}
.roulette-size{//これを設定しないとルーレットを止めた時にカードのサイズが変わる。
    width:300px;
    height:150px;
}
.roulette {
    //flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //text-align: center;
    //align-self: flex-end; /* 下揃えに設定。センターに持ってくると絵によってボタンが動くため。 */
    //margin-top: 200px; /* 上部に余白を追加 */
    //margin-bottom: 200px;
}

.result {
    //margin-top: 20px; 
    font-size: 70px;
    margin-bottom:20px;
}
.square2{//ルーレットの絵を入れる四角
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //margin-left:40px;
    width:150px;
    height:150px;
}
.square2 img {
    /* 画像のスタイル */
    max-width: 80%; /* 画像の最大幅をマスの幅に合わせる */
    max-height: 80%; /* 画像の最大高さをマスの高さに合わせる */
}

//ルーレットボタンの設定
.button {
    font-size: 30px;
    padding: .8rem 1.6rem;
    border: none;
    border-radius: 25px;
    color: black;
    background-color: green;
}
.button:hover {
    color: #FFF;
    cursor: pointer;
}

