.container{
  flex-direction: column;
  text-align: left;
}
.info{
  //margin:0px 100px 0px 100px;
  white-space: pre-wrap;//内容の改行を表示するため。
  position: relative; //フッターを下に固定するために追加
  min-height: 100vh;
  width: 80%;
  padding-bottom: 40px;
}
.date{
  font-size:20px;
  font-weight:bold;
  //text-decoration:underline;
  
}
.title{
  font-size:20px;
  font-weight:bold;
}

