.info{
  margin:100px 100px 0px 100px;
  white-space: pre-wrap;//日付、タイトル、内容の行の隙間を開けるため。
  position: relative; //フッターを下に固定するために追加
  min-height: 100vh;
  padding-bottom: 40px;
}
.date{
  font-size:20px;
  font-weight:bold;
  text-decoration:underline;
  
}
.title{
  font-size:20px;
  font-weight:bold;
}

