h1{
  text-align: center;
}
h2{
  text-align: left;
  font-size: 25px;
  
}
.radiobox {
  display: flex;
  width: 100%;//500px;
  margin-bottom:20px;
  /*max-width: 2000px;*/
}

form{
  width:80%; 
  max-width:500px;

}

label {
  display: inline-block;
  background-color: #b9deff;
  color: black;
  padding: 10px 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; // 1000px;
  font-size: 15px;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

/* ラジオボタンの非表示 */
.custom-radio {
  display: none;
}

.mode-footer{
  display: none;
}
