.container{/*要素を縦に並べる*/
  flex-direction: column;
}
.card{
  //display: none;
  //justify-content: space-around; /* 画像を水平方向に均等に配置 */
  //align-items: center; /* 画像を垂直方向に中央に配置 */
  //margin-bottom:20px;
  //flex-wrap: wrap; /* 画像がコンテナの幅を超えた場合に自動的に改行.縦並びが折り返されて横並びになる。 */
  //height:110px;
  padding: 10px;
  width: 100%;//500px;
  background-color: rgb(232, 226, 226);
  //height:200px;
}
.outer{
  display:flex;
  flex-wrap: wrap;
  //justify-content: space-around;
}
.square{
  //height: 100px;
  //width:100px;
  //border:solid 1px black;
  //background-color: white;
  //display: flex;
  //justify-content: space-around; /* 画像を水平方向に均等に配置 */
  //align-items: center; /* 画像を垂直方向に中央に配置 */
  box-sizing: border-box;
  background-color: #ffffff;
  border:solid 1px black;
  flex: 0 0 20%;
  position: relative;
  //max-width:100px;

}
.square div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.square img {
  /* 画像のスタイル */
  max-width: 80%; /* 画像の最大幅をマスの幅に合わせる */
  max-height: 80%; /* 画像の最大高さをマスの高さに合わせる */
  display: block; /* インライン要素をブロック要素に変更 */
  margin: auto; /* 画像を中央に配置 */
}
.square::before{
  content: '';
  display: block;
  padding-top:100%;
}
.result{
  font-size:30px;
}
.sentence{
  font-size: 18px;
  display: flex;
}
.red{
  color:red;
}

.blue{
  color:blue;
}