.row2{
  width:300px;

}
.text-center{
  margin-top: 20px;
}


.btn_google {
  border-radius: 5px;
  background-color: #d5e6f9;
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  margin-top:20px;
}
.btn_google:hover {
  background-color: #007bff;
  text-decoration: none;
  color: black;
}

.container{
  flex-direction: column;
  //position: relative; //フッターを下に固定するために追加
  //min-height: 100vh;
  //padding-bottom: 40px;
}
form{
  max-width:500px;
}

