.row2{
  width:500px;

}
.text-center{
  margin-top: 20px;
}


.btn_google {
  border-radius: 5px;
  background-color: #d5e6f9;
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
}
.btn_google:hover {
  background-color: #007bff;
  text-decoration: none;
  color: black;
}


